html{
    scroll-behavior: smooth;
}

footer{
    height: 100vh;
    background-color: black;
    transition: ease-out;
}



/* contact form */
.contact {
    /* border: 2px solid red; */
    background-color: black;
    color: white;
    width: 100%;
    /* height: 100%; */
    padding-left: 10rem;
    padding-right: 10rem;
    /* padding-top: 2rem; */
}

#contact-form-head {
    /* height: 6rem; */
    display: flex;
    align-items: left;
    line-height: 2;
    margin-top: 4rem;
    flex-direction: column;
    text-align: left;
    margin-bottom: 5rem;
}
.title-heading{
    font-size: 3rem;
}
.contact-form #name, #phone {

    height: 2.782vw;
    width: 100%;
    padding: 0.586vw 0;
    border-radius: 0;
    background-color: transparent !important;
    color: #fff !important;
    box-shadow: none !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dashed #fff !important;
    outline: none;
    
}

.cst_selectPick {
    background: black;
    color: gray;
    border-bottom: 2px dotted gray;
    border-top: none;
    border-left: none;
    border-right: none;
}

#row {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1rem;
    flex-direction: column;
}

.contact-form {
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

#phoneNum {
    display: inline-flex;

}
#email-div {
    display: flex;
    justify-content: left;
    margin-top: 2rem;
}
.adition-options1{
    display: flex;
    justify-content: lef;
    margin-top: 2rem;
}
.email-and-textarea {
    height: 2.782vw;
    width: 100%;
    padding: 0.586vw 0;
    border-radius: 0;
    background-color: transparent !important;
    color: #fff !important;
    box-shadow: none !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dashed #fff !important;
}

#filter-option {
    height: 2rem;
    background-color: black;
    color: gray;
    border: none;
    font-size: 1.2rem;
}

#aditional {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 2rem;
    /* margin-left: 9rem;  */
    width: 100%;
}

.adition-options {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
    flex-direction: column;
    gap: 2rem;
}

#aditional textarea {
    background-color: black;
    width: 45rem;
    height: 3rem;
    margin-bottom: 4rem;
    border-top: 0;
    border-bottom: 1.5px dotted gray;
    border-left: 0;
    border-right: 0;
    outline: none;
}



.submit {
    display: flex;
    justify-content: center;
}

#submit {
    width: 9rem;
    /* margin-left: 16px; */
    color: black;
    background-color: white;
    cursor: none;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: color .2s, -webkit-transform .4s;
    transition: color .2s, -webkit-transform .4s;
    -o-transition: color .2s, -o-transform .4s;
    -moz-transition: color .2s, transform .4s, -moz-transform .4s;
    transition: color .2s, transform .4s;
    transition: color .2s, transform .4s, -webkit-transform .4s, -moz-transform .4s, -o-transform .4s
}

@media (min-width:1200px) {
    #submit {
        font-size: 18px
    }
}

#submit::after {
    content: attr(data-text);
    display: block;
    position: absolute;
    top: 150%;
    left: 0;
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: -o-transform .4s;
    -moz-transition: transform .4s, -moz-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s, -moz-transform .4s, -o-transform .4s
}



@media (max-width:986px) {
    #row {
        gap: 0;
        flex-direction: column;
    }

    #phoneNum {
        display: inline-flex;

    }

    .contact-form #name, #phone {
        width: 100%;
        height: 5.782vw;
        margin-bottom: 0.5rem;
    }

    #email {
        height: 5.782vw;
        outline: none;

    }

    .email-and-textarea {
        /* height: 2.782vw; */
        /* width: 45rem; */
        padding: 0.586vw 0;
        border-radius: 0;
        background-color: transparent !important;
        color: #fff !important;
        box-shadow: none !important;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px dashed #fff !important;
        height: 5.782vw;

    }
    #aditional{
        margin-top: 0;
    }

    /* #adition-options {
        width: 100%;
    } */

    #aditional textarea {
        width: 100%;
    }
}

.adition-options1 {
    width: 100%;
    display: flex;
    justify-content: left;
    /* gap: 5rem; */
}
@media (max-width:780px) {
    .contact{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
@media (min-width:985px)and(max-width:990px) {
    #row{
        gap: 6.5rem;
    }
}